# Node / JS
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml
dist/
build/

# Env
.env
.env.*
*.local

# React Native / Mobile
android/
ios/
*.keystore
*.jks
*.xcuserdatad
.expo/
.expo-shared/

# Editors / OS
.vscode/
.DS_Store
Thumbs.db
